<launch>

  <arg name="model" />

  <node pkg="vicon_odom"
    type="vicon_odom"
    name="$(arg model)"
    output="screen">
    <param name="vicon_fps" value="100.0"/>
    <param name="max_accel" value="5.0"/>

    <remap from="~vicon" to="/vicon/$(arg model)"/>
    <remap from="~odom" to="/$(arg model)/odom"/>
  </node>

</launch>
