<launch>
    <arg name="model"/>
    <arg name="publish_tf" default="false"/>
    <arg name="output" default="screen"/>

    <node pkg="vicon_odom" type="vicon_odom_node" name="$(arg model)"
        ns="vicon" output="$(arg output)">
        <param name="publish_tf" type="bool" value="$(arg publish_tf)"/>
        <param name="model" type="string" value="$(arg model)"/>
    </node>
</launch>
